apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  labels:
    {{- include "osm.labels" . | nindent 4 }}
    app: osm-webhook
  name: {{.Values.OpenServiceMesh.webhookConfigNamePrefix}}-{{.Values.OpenServiceMesh.meshName}}
webhooks:
- name: osm-config-webhook.k8s.io
  clientConfig:
    service:
      name: osm-webhook
      namespace: {{ include "osm.namespace" . }}
      path: /validate-webhook
      port: {{ .Values.OpenServiceMesh.osmwebhook.port }}
  failurePolicy: Fail
  matchPolicy: Exact
  namespaceSelector:
    matchLabels:
      name: {{ include "osm.namespace" . }}
  objectSelector:
    matchLabels:
      app.kubernetes.io/name: openservicemesh.io
      app.kubernetes.io/instance: {{ .Values.OpenServiceMesh.meshName }}
      app.kubernetes.io/version: {{ .Chart.AppVersion }}
  rules:
    - apiGroups:
        - "policy.osm.io"
      apiVersions:
        - v1alpha1
      operations:
        - UPDATE
        - CREATE
      resources:
        - "*/*"
  sideEffects: None
  admissionReviewVersions: ["v1"]
